<div class="flag-name-box">
  <div class='flag'><img src="{{flag}}" alt="{{name.official}}" width="200px" height="100px"></div>
  <div class='name'> <span class="title">Name:</span> {{name.official}}</div>
</div>
<div class='capital'> <span class="title">Capital:</span> {{capital}}</div>
<div class='population'> <span class="title">Population:</span> {{population}}</div>
<div class='languages'> <span class="title">Languages:</span> {{langList}}</div>