{{#each this}}
  <div class='card'>
    <img class="img" src="{{webformatURL}}" alt='' data-img-url='{{webformatURL}}' />
    <div class='card-bottom'>
      <div class='col-title'>Views</div>
      <div class='col-text'>{{views}}</div>
      <div class='col-title'>Likes</div>
      <div class='col-text'>{{likes}}</div>
      <div class='col-title'>Comments</div>
      <div class='col-text'>{{comments}}</div>
      <div class='col-title'>Downloads</div>
      <div class='col-text'>{{downloads}}</div>
    </div>
  </div>
{{/each}}